:host {
  --width: 100%;
  --color: #000000;
  --label-color: #000000;
  --label-color-focus: #2196f3;
  --border-color: #c6c6c6;
  --border-color-focus: #2196f3;
  --font-size: 18px;
  --label-font-size: 16px;
  --label-font-size-focus: 12px;
  --margin-top: 16px;
  --margin-bottom: 16px;
  --margin-start: 16px;
  --margin-end: 16px;
  --suggestions-color: #000000;
  --suggestions-background: #ffffff;
  --image-width: 30px;
  --image-height: 30px;

}
:host {
  direction: ltr
}

:host(.rtl) {
  direction: rtl;
}

.hovered {
  background: #e9e9e9;
}

ul {
  flex-basis: 0;
  flex-grow: 1;
  position: absolute;
  left: inherit;
  z-index: 3;
  overflow-y: auto;
  transition: all 0.3s ease;
  margin-left: var(--margin-start);
  margin-top: calc(var(--margin-top) * -1);
  max-height: 300px;
  color: var(--suggestions-color);
  background: var(--suggestions-background);
  transform-origin: 0 0;
  padding-left: 0;
  padding-right: 0;
}

li {
  color: var(--suggestions-color);
  z-index: 4;
  text-decoration: none;
  display: flex;
  align-items: center; /* align vertical */
  width: 100%;
  padding: 16px;
  white-space: pre;
  box-sizing: border-box;
  background: var(--suggestions-background);
  cursor: pointer;
}

input {
  color: var(--color);
  font-size: var(--font-size);
  display: block;
  border: none;
  width: 100%;

}

.group {
  margin: var(--margin-top) var(--margin-start) var(--margin-bottom) var(--margin-end);
}

:host(.rtl) .group {
  margin: var(--margin-top) var(--margin-end) var(--margin-bottom) var(--margin-start);
  text-align: right;
}

img {
  width: var(--image-width);
  height: var(--image-height);
  display: inline-block;
  margin-right: 10px;
}

:host(.rtl) img {
  margin-right: 0;
  margin-left: 10px;
}
