:host {
  --width: 100%;
  --color: #000000;
  --label-color: #000000;
  --label-color-focus: #2196f3;
  --border-color: #c6c6c6;
  --border-color-focus: #2196f3;
  --font-size: 18px;
  --label-font-size: 16px;
  --label-font-size-focus: 12px;
  --margin-top: 16px;
  --margin-bottom: 16px;
  --margin-left: 16px;
  --margin-right: 16px;
  --suggestion-color: #000000;
  --suggestion-backgroud: #ffffff;

}
.hovered {
  background: #e9e9e9;
}
